@model Mini_Tekstac_Question_Paper_Generation.Models.QuestionsAndAnswersSheet

@{
    ViewBag.Title = "AddAssessmentQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Assessment Questions</h2>
<h3 style="color:green;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@ViewBag.Message  @ViewBag.AssessmentName</h3>
<h3 style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@ViewBag.Message1</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Add question with respective options and correct answer</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

@**@   @* <div class="form-group">
        @Html.LabelFor(model => model.AssessmentCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AssessmentCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AssessmentCode, "", new { @class = "text-danger" })
        </div>
    </div>*@
@**@
  @**@  <div class="form-group">
        @Html.LabelFor(model => model.AssessmentName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AssessmentName,ViewBag.AssessmentNames as SelectList, "Select Assessment Name", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AssessmentName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Answer1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Answer1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answer1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Answer2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Answer2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answer2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Answer3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Answer3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answer3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Answer4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Answer4, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answer4, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RightAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RightAnswer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RightAnswer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Competency, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Competency, new List<SelectListItem>
       {
           new SelectListItem{Text="select", Value="select"},
                new SelectListItem{Text="Easy" ,Value="Easy"},
                new SelectListItem{Text="Medium", Value="Medium"},
                new SelectListItem{Text="Hard",Value="Hard"}
       }
       , new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Competency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add question" class="btn btn-primary" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Display all added assessment questions", "DisplayAssessmentQuestions", "Admin")
    </div>
    <div>
        @Html.ActionLink("Back to Admin's Home", "Home", "Admin")
    </div>
</div>
}


